/* src/components/Footer.module.css */

.footerContainer {
  padding: 2rem;
  background-color: #FFFFFF; /* Fond blanc */
  text-align: center;
  color: #495057; /* Gris doux */
  border-top: 1px solid #DEE2E6; /* Ligne de séparation */
  width: 100%;
  box-sizing: border-box;
}

.socialLinks {
  margin-bottom: 1rem;
}

.link {
  font-size: 1rem;
  font-weight: 500;
  color: #212529; /* Texte foncé */
  text-decoration: none;
  margin: 0 0.75rem;
  transition: color 0.2s;
}

.link:hover {
  color: #0A4ABF; /* NOUVEL accent bleu */
}

.copyright {
  font-size: 0.875rem;
  color: #6C757D; /* Gris plus clair */
}