/* src/components/Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FFFFFF; /* Fond blanc */
  color: #212529; /* Texte foncé */
  /* On ajoute une ombre pour la détacher */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  position: sticky; /* On la "fixe" en haut au scroll */
  top: 0;
  z-index: 1000;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #212529; /* Texte foncé */
  text-decoration: none;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin-left: 1.5rem;
}

.links a {
  color: #212529; /* Texte foncé */
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

/* Ligne d'animation avec le NOUVEL accent bleu */
.links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0A4ABF; /* NOUVEL accent bleu */
  transition: width 0.3s ease-out;
}

.links a:hover::after {
  width: 100%;
}