/* src/components/Projects.module.css */

.projectsContainer {
  padding: 4rem 2rem;
  background-color: #FFFFFF; /* Fond blanc */
  width: 100%;
  box-sizing: border-box;
}

.sectionTitle {
  font-size: 2.2rem;
  color: #0A4ABF; /* NOUVEL accent bleu */
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px; 
  margin: 0 auto;
}